# Source temporaries
*.dcu
*.drc
*.ddp
*.bak
*.bk1
*.bk2
*.bk3
Source/devcpp.cfg

# Binaries that can be built from source
devcpp.exe
devcpp.map
ConsolePauser.exe
devcppPortable.exe
Packman.exe
Packman.map

# Nonsource folders
config/
MinGW32/
MinGW64/

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini